@use "../../assets/styles/mixins.scss";
@use "../../assets/styles/colors.scss";

$label-font-size: 1.5rem;
$radio-button-border-width: 0.45rem;
$radio-button-size: calc($label-font-size - 2 * $radio-button-border-width);
$radio-button-unselected-color: rgb(186, 183, 183);
$radio-button-unselected-color-hover: rgb(148, 146, 146);

.order {
  min-height: 90vh;
  @include mixins.centered-horizontal-column();

  h1 {
    color: colors.$medium-blue;
    font-size: 5rem;
    font-family: Karla;
    margin-block: 8vh;
  }

  form {
    @include mixins.centered-horizontal-column();
    .text {
      @include mixins.centered-horizontal-column();

      input[type="text"] {
        width: 60vw;
        font-size: 2rem;
        height: 4rem;
        text-indent: 2%;
        font-family: Inter;
        border: none;
        border-bottom: colors.$medium-blue solid 1px;
        color: colors.$medium-blue;

        &::placeholder {
          opacity: 0.5;
          color: colors.$medium-blue;
        }

        &:focus {
          outline: none;
        }
      }

      .error {
        margin: 0.1vh;
        color: red;
        font-family: Inter;
      }

      & > div {
        height: 18vh;
      }

      .creditCard {
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 8vh;

        .dateAndCvv {
          display: flex;
          width: 60vw;
          justify-content: space-between;
          height: 35%;

          .expiryDate input[type="text"] {
            width: 20vw;
            text-indent: 7%;
          }

          .cvv input[type="text"] {
            width: 10vw;
            text-indent: 7%;
          }
        }
      }
    }

    label {
      font-size: 1.5rem;
      margin-block: 1vh;
      color: colors.$dark-blue;
      font-family: Inter;
      margin-bottom: 5vh;

      &::after {
        margin-top: 1vh;
        display: block;
        content: "";
        width: 60vw;
        align-self: center;
        height: 1px;
        background-color: black;
      }
    }

    input[type="checkbox"] {
      appearance: none;
      cursor: pointer;

      &::before {
        content: "";
        position: relative;
        top: 0.2rem;
        display: block;
        background-color: $radio-button-unselected-color;
        height: $radio-button-size;
        width: $radio-button-size;
        margin-right: 0.5rem;
        border: $radio-button-unselected-color $radio-button-border-width solid;
        transition: 0.2s;
      }

      &:hover::before {
        background-color: $radio-button-unselected-color-hover;
        border-color: $radio-button-unselected-color-hover;
      }

      &:checked::before {
        background-color: white;
        border: colors.$dark-blue $radio-button-border-width solid;
      }
    }

    button {
      margin-bottom: 3vh;
    }
  }
}

.totalPrice {
  font-size: 2.5rem;
  font-family: Inter;
  color: colors.$dark-blue;
  margin-bottom: 0.5vh;
}