@use "../../assets/styles/colors.scss";
@use "../../assets/styles/mixins.scss";

$price-span-font-size: 1.2rem;
$article-background: lighten(colors.$dark-blue, 8%);
$common-border-radius: 8px;

.articleCard {
  @include mixins.centered-horizontal-column();
  padding: 1vh 1vw;
  height: 45vh;

  .inner {
    @include mixins.centered-horizontal-column();
    background-color: $article-background;
    position: relative;
    height: 100%;
    width: 100%;
    border: colors.$dark-blue solid 2px;
    border-radius: $common-border-radius;
    padding: 5% 7%;
  }

  button {
    position: absolute;
    right: 5%;
    top: 2%;
    background-color: colors.$light-gray-blue;
    font-size: $price-span-font-size;
    width: fit-content;
    height: $price-span-font-size * 1.8;
    border-radius: $common-border-radius;
    border: transparent;
    padding-inline: $price-span-font-size * 0.1;
    color: colors.$medium-blue;
    display: flex;
    align-items: center;
    cursor: grab;

    img {
      height: $price-span-font-size * 1.2;
      margin-left: 0.2vw;
    }
  }

  .content {
    @include mixins.centered-horizontal-column();
    background-color: darken(colors.$dark-blue, 10%);
    align-items: flex-start;
    font-size: 0.5rem;
    width: 100%;
    height: 70%;
    border-radius: $common-border-radius;
    color: white;
    font-family: Inter;
    overflow: hidden;
    padding-inline: 5%;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      background-color: darken(colors.$dark-blue, 13%);
    }

    h2 {
      align-self: center;
      font-size: 1.5rem;
      margin-bottom: 5%;
      font-family: Karla;
      text-align: center;
    }
  }

  h3 {
    margin-top: 30%;
    font-size: 1.5rem;
    color: white;
    font-family: Karla;
  }
}
