@use "../../assets/styles/mixins.scss";
@use "../../assets/styles/colors.scss";

.notFound {
  height: 79vh;
  @include mixins.centered-horizontal-column();
  justify-content: center;

  h1 {
    color: colors.$dark-blue;
    font-family: Karla;
    font-size: 4rem;
  }
}
